#!/bin/bash
export DISCORD_URL="https://discord.com/api/webhooks/123/token"
export TEAMS_URL="https://example.webhook.office.com/example"
export HOOKSHOT_URL="https://matrix.example.com/hookshot/webhooks/uuid"